// Grids
.grid-layout {
  @apply grid place-items-center;
}

// Tiptap richtext
.richtext {
  @apply prose;
  text-align: start;
  padding: 1rem 0.5rem;

  /* Globals */
  @apply bg-white dark:bg-black border rounded-lg border-slate-500 dark:border-white;
  * {
    @apply text-black dark:text-white  border-slate-500 dark:border-white;
  }

  /* Lists */
  ul {
    @apply list-disc list-outside;
  }
  ol {
    @apply list-decimal list-outside;
  }

  /* Table */
  table {
    @apply border-collapse border border-slate-500 dark:border-white;
    tbody tr td {
      @apply border border-slate-500 dark:border-white;
      p {
        margin: 0;
        padding: 0.25rem;
      }
    }
  }

  /* TODO : headings */
}

// Pre/Errors
pre {
  @apply whitespace-normal;
}
