############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3
!logs/access.log
!logs/error.log


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep


############################
# Node.js
############################

lib-cov
lcov.info
pids
results
node_modules
.node_history
yarn.lock


############################
# Tests
############################

coverage


############################
# Strapi
############################

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json
.image-cache


############################
# Default data
############################

!strapi-export.tar.gz
!public/uploads/image_portrait_e2e059992b.jpg
!public/uploads/image_square_cb09e7211b.png
!public/uploads/large_image_portrait_e2e059992b.jpg
!public/uploads/medium_image_portrait_e2e059992b.jpg
!public/uploads/small_image_portrait_e2e059992b.jpg
!public/uploads/small_image_square_cb09e7211b.png
!public/uploads/thumbnail_image_portrait_e2e059992b.jpg
!public/uploads/thumbnail_image_square_cb09e7211b.png
!public/uploads/video_portrait_2a7f3d6955.mp4
!public/uploads/video_square_a5a8ffce67.mp4
